<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402206194326-3f0veplpdav8p0ddcngum4c3papr78bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402206194326-3f0veplpdav8p0ddcngum4c3papr78bv</string>
	<key>API_KEY</key>
	<string>AIzaSyCpAY2STS4o4h-eissJEd940zfWiBlzmpg</string>
	<key>GCM_SENDER_ID</key>
	<string>402206194326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youssif.RoadAssistant</string>
	<key>PROJECT_ID</key>
	<string>road-assistant-36826</string>
	<key>STORAGE_BUCKET</key>
	<string>road-assistant-36826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402206194326:ios:2e4b71ccebc5bf062920b7</string>
</dict>
</plist>